@import 'holy-grail-flex.css';
@import 'NavBar.css';
@import 'Home.css';
@import 'Routes.css';
@import 'Footer.css';
@import 'Exam.css';
@import 'FCEPart2.css';
@import 'Timer.css';
@import 'Header.css';
@import 'EditFCEPart2.css';
@import 'placeholder.css';
@import 'TagItem.css';
@import 'button.css';
@import 'dropdown.css';
@import 'Signin.css';
@import 'EasyCrop.css';
@import 'ProgressBar.css';
@import 'Tests.css';
@import 'ToolBar.css';
@import 'FullScreen.css';
@import 'logo.css';
@import 'MyContent.css';
@import 'MyTests.css';
@import 'Folders.css';
@import 'Modal.css';
@import 'ViewFolder.css';
@import 'Profile.css';
@import 'CreatorDetails.css';
@import 'SearchUsers.css';
@import 'UserSummary.css';
@import 'Part3.css';
@import 'Share.css';
@import 'Create.css';
@import 'spinners.css';

@font-face {
  font-family: 'Digital-7';
  src: local('Digital-7'), url('../fonts/digital-7.ttf') format('truetype');
}

@font-face {
  font-family: 'Pacifico';
  src: local('Pacifico'), url('../fonts/Pacifico-Regular.ttf') format('truetype');
}

body {
  overflow-y: scroll;
}

a {
  cursor: pointer;
}

html,
body {
  height: 100%;
}