.btn {
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid grey;
}

.save-btn {
  margin: 10px;
}

.upload-image-container {
  position: relative;
  width: auto;
}

.image-centre-btn {
  position: absolute;
  width: 100px;
  height: 30px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.delete-btn {
  background-color: rgb(255 0 47 / 55%);
  border: solid white 2px;
  color: white;
}

.delete-btn:hover {
  background-color: rgba(248, 71, 71, 0.705);
}

.delete-btn {
  outline: none;
  -webkit-box-shadow: 9px 10px 10px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 10px 10px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 9px 10px 10px -4px rgba(0, 0, 0, 0.75);
}

.upload-btn {
  padding: 8px 30px;
  background: #4aa8b4;
  border: none;
  color: white;
}

.upload-btn:hover {
  background-color: #65b7c2;
}

.upload-btn:focus {
}
