.btn {
  border: none;
  border-radius: 3px;
}

.save-btn {
  margin: 10px;
}

.upload-image-container {
  position: relative;
  width: auto;
}

.upload-image-container {
  width: auto;
}

.image-centre-btn {
  position: absolute;

  padding: 0px;
  font-size: 12pt;
  padding: 10px;
  background-color: #fbfbfbc2;
  color: black;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  text-align: center;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-size: small;
  border: solid 1px;
}

.delete-btn {
  background-color: rgba(255, 0, 0, 0.623);
  border: solid white 2px;
  color: white;
}

.delete-btn:hover {
  background-color: rgba(248, 71, 71, 0.705);
}

.delete-btn {
  outline: none;
  -webkit-box-shadow: 9px 10px 10px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 10px 10px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 9px 10px 10px -4px rgba(0, 0, 0, 0.75);
}

.upload-btn {
  padding: 5px 20px 2px 20px;
  border: white 1px solid;
  border: 10px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.upload-btn:hover {
  background-color: #d1d1d1;
}

.upload-btn:focus {
  outline: none;
  border: solid 2px #9494ef
}