.profile-picture-small {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.test-creator-info {
  grid-column-start: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: auto;
  padding-left: 8px;
}

.created-by-text {
  padding: 0;
  padding-left: 15px;
  float: right;
}