.question-input {
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  font-size: x-large;
  width: 40vw;
}

.question-input:focus {
  border-bottom: 2px solid rgb(7, 48, 231);
}

:root {
  --placeholder-color: rgb(204, 204, 204);
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: var(--placeholder-color);
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: var(--placeholder-color);
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: var(--placeholder-color);
}

:-moz-placeholder {
  /* Firefox 18- */
  color: var(--placeholder-color);
}