.question-input {
  width: 100%;
  font-size: 16pt;
  font-family: inherit;
  outline: none;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  resize: none;
  box-sizing: border-box;
  background-color: #FAFAFA;
  margin: 0 2px 0 2px;
  padding: 5px 15px 5px 15px;
}

.question-input:focus {
  border: 1px solid rgb(139, 152, 211);

}

:root {
  --placeholder-color: rgb(204, 204, 204);
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: var(--placeholder-color);
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: var(--placeholder-color);
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: var(--placeholder-color);
}

:-moz-placeholder {
  /* Firefox 18- */
  color: var(--placeholder-color);
}

.side-bar-left-tags {
  align-items: center;
  background-color: #f4f7fd;
  display: flex;
}

@media (min-width: 768px) {
  .side-bar-left-tags {
    min-width: 25vw;
  }
}

.tags-container {
  margin: auto;
  text-align: center;
  padding: 5px 20px 20px;
  margin-top: 10px;
}

.advice-text {
  color: #999ea3;
  font-size: small;
  text-align: center;
  margin: 0;
}

.tag-advice {
  margin-top: 10px;
}

.tags-title {
  color: #909090;
  margin: 3px 0 0 3px;
  margin: 0 0 7px 0px;
}

.center {
  margin: auto;
  text-align: center;
}