.part2-main-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto auto auto;
}

.question-row {
  display:flex;
  grid-column: 1/3;
  grid-row:1;
}

.part2-image-row {
  grid-column:1/3;
  grid-row:2;
  display: grid;
  grid-template-columns: 50% 50% ;
  grid-template-rows: 100%;
}

.tool-bar-row {
  grid-column: 1/3;
  grid-row:3;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  box-sizing: border-box;
  margin: 5px 10px 10px 10px;
  background-color: #FAFAFA;
}

.part2-question-text {
  font-size: xx-large;
  color: #5d5d5d;
  width: 100%;
  margin: 0 10vh 0 10vh;
  text-align: center;
}

.part2-image-container-left { 
  grid-column: 1/2;
  grid-row: 1;
  margin: 0 5px 5px 10px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  box-sizing: border-box;
  
}
.part2-image-container-right {
  grid-column: 2/3;
  grid-row: 1;
  margin: 0 10px 5px 5px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  box-sizing: border-box;
}

.exam-image-container {
  position:relative;
  text-align:center;
}

.part2-image {
  width: 100%;
  vertical-align: bottom;
}

.timer-row {
  display: flex;
  padding: 10px;
}

.part2-button-container {
  display: flex;
  align-content: center;
}
.short-turn-button {
  
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  margin: 10px;
  padding: 5px 15px 5px 15px;
  box-sizing: border-box;
  font-size: 12pt;
  background-color: #f5d88b;
}
.short-turn-question-input{
  color: blue;
}
