.part2-main-row {
  background-color: white;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: #6d6597;
}

.question-container {
  background-color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 5vh 0 5vh 0;
  align-items: center;
}

.part2-question-text {
  font-size: xx-large;
  color: #5d5d5d;
  width: 100%;
  margin: 0 10vh 0 10vh;
  text-align: center;
}

.part2-image-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;

}

.exam-image-container {
  background-color: white;
  padding: 5px 0px 5px 0px;
  margin: 5px 25px 5px 25px;
  height: auto;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.part2-image {
  height: 45vh;
  border-radius: 20px;
  border: #e5e5e5;
  border-style: solid;
}

.timer-row {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.part2-button-container {
  display: flex;
  align-content: center;
}

.btn-start {
  background-color: #28a745;
  cursor: pointer;
}

.btn-start:hover {
  background-color: #218838;
}

.btn-start:focus {
  outline: #1b5f2a;
}

.btn-stop {
  background-color: #dc3545;
  cursor: pointer;
}

.btn-stop:hover {
  background-color: #c82333;
}

.btn-stop:disabled {
  background-color: #d7c0c4;
  color: grey;
  cursor: default;
}

.btn-stop:focus {
  background-color: #c82333;

  outline-color: #9e2330;
}

.btn-reset {
  background-color: #357ae8;
  cursor: pointer;
}

.btn-reset:hover {
  background-color: #0069d9;
}

.btn-reset:focus {
  outline-color: #0e59a8;
}