.folders-container {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.folder-container {
  border: 1px solid #c6c6c6;
  border-radius: 5px;
  margin: 5px;
  display: flex;
  align-items: center;
  padding: 10px;
  box-shadow: 6px 5px 7px -6px rgba(163, 163, 163, 1);
  background-color: white;
  height: 40px;
}

.folder-container:hover {
  border-color: #FFC801;
}

.create-folder-form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px 10px;
}

.folder-title {
  margin-left: 8px;
  margin-right: 20px;
}

.folder-info-container {
  display: flex;

}

.folder-icon-title-container {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.delete-folder-btn {
  align-self: center;
  margin-left: auto;
  cursor: pointer;
}

.filter-input-container {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.create-folder-input {
  padding: 10px;
  margin: 5px 0 5px 0;
}

.open-add-folder-modal-btn {
  cursor: pointer;
  margin: auto;
}

.folder-summary-toolbar {
  display: flex;
  margin-left: auto;
}

.select-order-by {
  padding: 7px 26px 7px 7px;
  margin-left: 15px;
}

.folder-summary-icon {
  font-size: 55px !important;
  color: grey;
  cursor: pointer;
}