.footer-container {
  background-color: white;
  height: 100%;
  padding: 15px;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.gitHub-logo {
  height: 30px;
  float: right;
}