:root {
  --main-bg-color: #f4f7f6;
  --main-border-color: #e6eaea;
  --header-text-color: #7c7e7d;;
  --button-active-color: #ffffff;
  --dropdown-menu-bg-color: #ffffff;
  --dropdown-selector-hover: #9494EF;
}