:root {
  --main-bg-color: white;
  --main-border-color: #e6eaea;
  --header-text-color: #7c7e7d;
  --button-active-color: #ffffff;
  --dropdown-menu-bg-color: #ffffff;
  --dropdown-selector-hover: #9494ef;
}
