.home-page-slogan-container {
  color: white;
}

.home-page-slogan {
  font-size: 2.75em;
  text-align: center;
  margin: 1rem;
}

.get-started-btn {
  font-size: 1.2em;
  padding: 0.5em 1em;
  background-color: #2785d5;
  border: none;
  color: white;
  border-radius: 5px;
  margin: 0.15em;
}

.home-btn-container {
  text-align: center;
  margin-top: 300px;
}
