.home-content {
  background-color: #6658fc;
  display: flex;
  align-items: center;
  justify-content: center;
  flex:1;
}

.home-page-slogan-container {
  color: white;
}

.home-page-slogan {
  font-size: 2.75em;
  text-align: center;
  margin: 1rem;
}

.get-started-btn {
  font-size: 1.2em;
  padding: 0.5em 2em;
  background-color: #6a27d5;
  border: none;
  color: white;
  border-radius: 5px;
  margin: 0.15em;
}

.home-btn-container {
  text-align: center;
}