.my-content-content {
  width: 100%;
  background-color: var(--main-bg-color);
}

.dashboard-container {
  padding: 30px 30px 10px 30px;
  display: flex;
  background-color: var(--main-bg-color);
  height: 120px;
}

.dashboard-profile-pic-container {
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 10px 0 0;
  justify-content: center;
}

.dashboard-main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.dashboard-user-name {
  font-weight: bold;
  font-size: 1.5rem;
  color: brown;
}

.dashboard-image {
  height: 100%;
  width: auto;
  border-radius: 50%;
  border: 3px solid burlywood;
  box-sizing: border-box;
}

.dashboard-button-bar {
  margin-top: 10px;
  cursor: pointer;
  display: inline-flex;
  outline: none;
  overflow: hidden;
  vertical-align: top;
  height: 100%;

}

.dashboard-button-container {

  position: relative;
  margin-top: 0 !important;
  display: inline-flex;
  flex-grow: 1;
}

.dashboard-radio-btn {
  margin: 0;
  cursor: inherit;
  opacity: 0;
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.dashboard-radio-btn:checked~.dashboard-radio-label {
  background-color: var(--button-active-color);;
  transition: all 0.5s 0s ease;
}

.dashboard-radio-label {
  display: inline-flex;
  padding: .625rem 1rem;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.285714285714286;
  /*important needed to override default radio label css*/
  margin-top: 0 !important;
  border: 1px solid #e6eaea;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.my-content-main {
  padding: 0 30px 30px;
  display: flex;
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
 
}