.my-tests-search-bar-container {
	width: 100%;
	text-align: right;
}

.filter-input {
	outline: none;
	border: none;
	margin-left: 15px;
	padding: 10px;
	background-color: transparent;
}

.filter-input:focus {
	border-bottom: 1px solid var(--button-active-color);
}

.user-tests-container {
	max-height: 0px;
	justify-content: center;
	transition: max-height 0.6s ease;
	width: 100%;
	-ms-overflow-style: none; /* hides scrollbar for Internet Explorer, Edge */
	scrollbar-width: none; /* hides scrollbar for Firefox */
	overflow-y: scroll;
}

.user-tests-container::-webkit-scrollbar {
	display: none; /* hides scroll bar for Chrome*/
}

.user-tests-container-expanded {
	border-top: 0;
	max-height: 2000px;
}

.tests-container-header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 5px;
	border: 1px solid #e6eaea;
	border-radius: 5px;
	background-color: white;
}

.tests-container-header:hover {
	background-color: var(--button-active-color);
}

.tests-container-heading h2 {
	color: var(--header-text-color);
	font-size: 1.2rem;
	display: flex;
	align-items: center;
	width: 100%;
}

.tests-container-horizontal-line {
	height: 2px;
	width: 100%;

	margin: 10px;
}

.tests-container-heading {
	display: flex;
	white-space: nowrap;
	cursor: pointer;
	padding: 0 15px;
	transition: all ease-in 0.125s;
}

.tests-container-heading:hover {
	background-color: #e9f4fa;
}

.tests-container-button {
	text-align: center;
	cursor: pointer;
	display: flex;
	align-items: center;
}

.tests-container-outer {
	display: flex;
	justify-content: center;
}

.all-tests-container {
	width: 100%;
	box-sizing: border-box;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	column-gap: 20px;
	row-gap: 35px;
	margin-bottom: 20px;
	padding: 5px 15px;
}

.search-terms-container {
	position: relative;
}

.exam-type-heading h1 {
	margin: 10px 0 0 0;
	color: var(--header-text-color);
}
.exam-type-heading {
	display: flex;
	align-content: center;
}
.close-dropdown-container-button {
	align-self: center;
	display: flex;
	cursor: pointer;
}

.dropdown-small-visible {
	display: flex;
	flex-direction: column;
	position: absolute;
	width: calc(100% + 2px);
	top: 100%;
	left: -1px;
	border: 1px solid #e6eaea;
	color: black;
	background: var(--dropdown-menu-bg-color);
	padding: 5px 0;
	z-index: 2;
	margin-top: 5px;
	border-radius: 5px;
}

.dropdown-option {
	background-color: white;
	padding: 5px;
	text-align: center;
	transition: background 0.3s ease-in-out;
}

.dropdown-option:hover {
	background-color: var(--dropdown-selector-hover);
}

.icon-container {
	display: flex;
	align-items: center;
	margin-top: 1px;
	transition: transform 0.3s ease-in-out;
	margin-right: 6px;
}

.reset-filters-button-container {
	transition: all 0.3s ease-in-out;
}

.reset-filters-button-container:hover .icon-container {
	transform: rotate(-340deg);
}

.number-of-tests {
	color: #c5c5c5;
	font-weight: 400;
	font-size: 1rem;
	padding-left: 10px;
}

.filter-selected {
	background-color: var(--filter-selected-color);
}

.filter-mobile-row {
	padding: 15px;
}

.filter-mobile-button-row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: auto;
	margin-bottom: 10%;
}

.filter-menu p {
	font-weight: bold;
	margin-top: 0px;
}

.filter-menu input {
	margin: 1em 0;
	padding: 1em;
}

.filter-menu input[type="radio"]:checked + label {
	color: #4444c0;
	font-weight: bold;
}
.filter-menu input[type="radio"] {
	margin: 1em;
	padding: 1em;
}

.filter-menu input[type="text"] {
	width: 100%;
}

.filter-menu .close-nav-mobile-btn {
	justify-content: flex-end;
}

@media screen and (min-width: 1000px) {
	.all-tests-container {
		grid-template-columns: repeat(3, 1fr);
	}
	.search-terms-container {
		margin: 30px 0;
	}
}

@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 1800px) {
	.all-tests-container {
		grid-template-columns: repeat(4, 1fr);
	}
}
