.nav-container {
  background-color: #589d77;
  text-align: center;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.nav-link:hover {
  color: #a9c9b7;
}
