.profile-user-info-container {
  min-width: 100%;
  background-color: white;
  margin: auto;
  padding: 15px;
  box-sizing: border-box;
}

.profile-user-info-container .input {
  margin: 0;
}

.profile-detail-item-container {
  display: flex;
  align-items: center;
  padding: 10px;
}

.profile-detail-label-aside {
  min-width: 45%;
  min-height: 100%;
  text-align: right;
  padding-right: 50px;
  box-sizing: border-box;
}

.profile-detail-picture {
  width: 120px;
  
  border-radius: 50%;
}

.profile-detail-save-btn {
  margin-left: 2px;
}
.profile-name-container {
  flex-direction: column;
}
.profile-username {
  font-size: 18pt;
}
.change-profile-picker-btn {
  font-size: 10pt;
  color: #f5d88b;
}
