.all-tests-container {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.test-preview-container {
  border: solid 3px rgb(199, 198, 198);
  border-radius: 10px;
  padding: 4px;
  margin: 5px;
  
  transition: 0.14s;
  width: 300px;
  height: 188px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  
}


.test-preview-container:hover {
  border-color: #f5d88b;
  transform: translateY(-2px) translateX(2px);
  -webkit-box-shadow: -7px 7px 7px 0px rgba(0,0,0,0.14); 
  box-shadow: -7px 7px 7px 0px rgba(0,0,0,0.14);
}

.test-preview-link {
  text-decoration: none;
  color: black;
}

.test-preview-question-container {
  color: black;
  font-size: small;
  align-items: center;
  box-sizing: border-box;
  min-height:18%;
  margin:10px;
}

.dont-break-out {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things  */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.img-wrap {
  display: flex;
  justify-content: center;
}

.thumbnail {
  max-width: 135px;
  height: auto;
  margin: 5px;
}

.fade-in {
  animation: fadeInAnimation ease 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.part3-test-preview-container {
  width: 300px;
  border: solid 3px rgb(199, 198, 198);
  border-radius: 10px;
  padding: 4px;
  margin: 5px;
  height: auto;
  transition: 0.14s;
}

.part3-test-preview-container:hover {
  border-color: #f5d88b;
}

.part3-test-preview-options-container {
  background-color: #efefef;
  height: auto;
  padding: 10px 15px;
  margin: 0 10px;
  font-size: small;
}

.part3-test-preview-option-container {
  display: block;
}

.test-preview-part-label {
  margin: 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.kebab-menu {
  font-size: x-large;
  content: " \2219 ";
}