
.test-preview-container-CAE-Part2 {
  display: grid;
}

.test-preview-image-row {
  display: grid;
  column-gap: 2px;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  height: 55%;
}

.test-preview-image-container-left {
  grid-column: 1/2;
}

.test-preview-image-container-centre {
  grid-column: 2/3;
  background-color: green;
}

.CAE-Part2-thumbnail-image {
  vertical-align: bottom;
  object-fit: cover;
  width: 100%;
  min-height: 100%;
}

.test-preview-overlay {
  position: absolute;
  top:0;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.test-preview-overlay:hover {
  opacity: 1;
  background: rgb(221,213,208);
  background: radial-gradient(circle, rgba(133, 133, 133, 0.459) 15%, rgba(68, 68, 68, 0.719) 94%);
  color:white;
}

.test-preview-overlay:hover + .test-preview-container {
  transform: scale(1.0155);
}

.overlay-bottom-right {
  display: flex;
  justify-content: space-around;
  width: 50%
}

.circle-icon-container {
  border: 2px solid white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9990;
}

.circle-icon-container:hover {
  border-color: rgb(216, 216, 216);
  color: rgb(216, 216, 216);
  transition: all 0.3s ease-in-out;
}