.tool-bar-row {
  grid-column: 1/4;
  grid-row:3;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr repeat(3, auto) 1fr;
  grid-column-gap: 5px;
  justify-items: center;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  box-sizing: border-box;
  margin: 5px 10px 10px 10px;
  background-color: #FAFAFA;
}

.tool-btn-container {
  grid-column-start: 5;
  margin-left: auto;
  display: flex;
  align-items: center;
}

.tool-bar-btn {
  background-color: transparent;
  border: none;
  display: inline-flex;
  cursor: pointer;
}