.view-folder-main-row {
  
  width: 100%;
}
.view-folder-container {
  background-color: white;
  box-sizing: border-box;

  width: 100%;
  border: 1px solid #dbdbdb;
    border-radius: 3px;

}

.view-folder-header {
  margin: 10px;
  background: #fafafa;
  align-items: center;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 5px;


}
.view-folder-folder-row {
  background-color: #fafafa;
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  align-content: center;
  margin: 10px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  padding: 30px;
}

.close-folder-button {

  grid-column-start: 3;
  padding-right: 15px;
  margin-left: auto;
  font-size: 20pt;
}



