.container {
  display: grid;
  grid-template-areas:
    'question question'
    'imageOne  imageTwo'
    'tool_bar tool_bar';

  grid-template-rows: auto auto auto;
  grid-template-columns: 50% 50%;
  border: 1px solid #e4e4e4;
  max-width: 95vw;
  margin: 0 auto;
  background-color: white;
}

/* dealing with fullscreen stlying */
:fullscreen .container {
  width: 100vw;
  margin: 0 100px;
}

.question_row {
  grid-area: question;
  font-size: 1em;
}
.left_image_container {
  grid-area: imageOne;
}
.left_image_container > img {
  display: block;
  object-fit: cover;
  height: 100%;
  width: 100%;
  max-height: 50vh;
}

.right_image_container {
  grid-area: imageTwo;
}

.right_image_container > img {
  display: block;
  object-fit: cover;
  height: 100%;
  width: 100%;
  max-height: 50vh;
}

.tool_bar_container {
  grid-area: tool_bar;
}

/* sets the base font size for fullscreen mode. Font size of all children scales with em values */
:fullscreen .container {
  font-size: 1.4rem;
}

:fullscreen .left_image_container > img {
  max-height: 100%;
  aspect-ratio: 1/1;
}

:fullscreen .right_image_container > img {
  max-height: 100%;
  aspect-ratio: 1/1;
}
