.delete_button {
	background-color: #f96767;
	font-size: 14pt;
	padding: 10px 25px;
	border-radius: 5px;
	border: solid 1px var(--main-border-color);
	display: flex;
	justify-content: space-around;
	align-items: center;
	cursor: pointer;
	color: white;
	transition: 0.125s ease-in-out;
}

.delete_button:hover {
	background-color: #f24040;
}
