@keyframes moveIn {
	0% {
		transform: translateY(100vh) scale(10%, 10%);
		opacity: 0;
	}
	95% {
		opacity: 100%;
	}
}

.modal_overlay {
	position: fixed;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.6);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: all 0.3s linear;
	overflow: hidden;
	z-index: 996;
}

.container {
	animation: moveIn 0.4s;
	animation-timing-function: linear;
}

.modal_header {
	display: flex;
	width: 100%;
	justify-content: center;
}

.modal_content {
	color: #fff;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.close_button {
	color: white;
	background-color: transparent;
	border: none;
	display: flex;
	cursor: pointer;
}
