.part4_container {
	background-color: white;
	margin: 0 auto;

	border: 0.1em solid #ebebeb;
	color: black;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.part4_container textarea {
	background-color: white;
	margin-top: 15px;
	padding: 5px;
	font-size: 1.5rem;
	width: 100%;
}

.content_container {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.question_container {
	display: flex;
	flex-direction: column;
	background-color: white;
	padding: 1vw;
}

.question_container span {
	background-color: white;
	margin-bottom: 15px;
	padding: 5px;
	font-size: 1.5rem;
	width: 100%;
}

.title {
	background: white;
	width: 100%;
	display: flex;
	padding: 10px 0px;
	font-size: 2rem;
}

.part4_container textarea {
	border: 1px #d5d5d5 solid;
}

.part4_container textarea:focus {
	border: 1px #438db6 solid;
}

.button_container {
	display: flex;
	justify-content: center;
}

:fullscreen .part4_container {
	background-color: black;
	border: none;
	width: 100vw;

	padding: 10vw;
}

:fullscreen .question_container > span {
	color: black;

	padding: 20px;
}

:fullscreen .question_container {
	color: black;
}
